---
import type { CollectionEntry } from 'astro:content'
import PostCard from '@/components/PostCard'
import { cn } from '@/utils'
const { pathname } = Astro.url

type Props = {
	posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<section class={cn(`grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-8 mt-3`)}>
	{
		pathname === '/' && (
			<div class='col-span-4'>
				<iframe width='100%' height='600px' src='https://www.youtube.com/embed/gN0PZCe-kwQ' />
			</div>
		)
	}

	{
		posts.slice(0, 4).map(async (post) => {
			const { remarkPluginFrontmatter } = await post.render()

			return (
				<PostCard
					id={post.id}
					data={post.data}
					slug={post.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</section>
